# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [50]:
import pandas as pd
import numpy as np
import seaborn as sns

In [38]:
d1 = [4, 8, 15, 16, 23, 42]
d1 = pd.Series(d1)
print(d1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [44]:
d2 = []

for i in range(10):
    d2.append(np.random.randint(1, 101))

d2 = pd.Series(d2)
print(d2)

0    17
1    34
2    95
3    34
4    83
5    34
6    31
7    32
8    56
9    11
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data, Then, print the DataFrame.

In [46]:
d3 = pd.DataFrame({
    "name": ["Alice", "Bob", "Claire"],
    "age": [25, 30, 27],
    "gender": ["female", "male", "female"]
})
print(d3)

     name  age  gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

1 - A DataFrame in Pandas is a two-dimensional table-like data structure, similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in Pandas and is widely used for data manipulation and analysis.


2 - The main difference between a DataFrame and a Series is that a DataFrame can hold multiple columns of data, while a Series can hold only a single column of data.

In [48]:
data = {'name': pd.Series(['Alice', 'Bob', 'Charlie']),
        'age': pd.Series([25, 30, 35]),
        'country': pd.Series(['USA', 'Canada', 'UK'])}

df = pd.DataFrame(data)

print(df)

      name  age country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

- d1.head()
- d1.tail()
- d1.describe()
- d1.groupby()
- d1.sort_values()
- d1.sort_index()
- d1.drop()
- d1.fillna()
- d1.apply()
- d1.replace()

In [55]:
d5 = sns.load_dataset("tips")
d5.groupby('time')["tip"].sum().reset_index()

     time     tip
0   Lunch  185.51
1  Dinner  546.07

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

- Both Series and DataFrame are mutable in nature, while Panel is considered deprecated in the latest versions of Pandas.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [56]:
data = {'name': pd.Series(['Alice', 'Bob', 'Charlie']),
        'age': pd.Series([25, 30, 35]),
        'country': pd.Series(['USA', 'Canada', 'UK'])}

df = pd.DataFrame(data)
print(df)

      name  age country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK

- Here Each value in the dictionary is a Pandas Series object, which will become a column in the DataFrame.

- The name column contains a Series of strings representing the names of three people: Alice, Bob, and Charlie. The age column contains a Series of integers representing the ages of the three people. The country column contains a Series of strings representing the countries where the three people are from.

- The code then passes the data dictionary to the pd.DataFrame() function, which creates a DataFrame object with the dictionary keys as column names and the corresponding Series objects as column values.

- Finally, the print(df) statement is used to display the resulting DataFrame object df to the console